<div class="wrapper">
	<%= link_to image_tag("grimfuture.jpg", alt: "grim dark future"), 'http://en.wikipedia.org/wiki/Grinnell,_Iowa' %>
	<%= link_to image_tag("cityoflight.jpg", alt: "city of light"), 'http://en.wikipedia.org/wiki/Grinnell,_Iowa' %>
</div>	