<div class="wrapper">
	<%= link_to image_tag("morning.jpg", alt: "graduation"), 'http://new.trinity.edu/' %>
	<%= link_to image_tag("goodmorning.jpg", alt: "good morning"), 'http://new.trinity.edu/' %>
</div>	