<div>
	<%= link_to image_tag("notaselfie.jpg", alt: "selfie"), 'http://www.linkedin.com/pub/chike-abuah/46/558/8b7' %>
	<%= link_to image_tag("alan.jpg", alt: "alan turing"), 'http://en.wikipedia.org/wiki/Alan_Turing' %>
	<%= link_to image_tag("dennis.jpg", alt: "dennis ritchie"), 'http://en.wikipedia.org/wiki/Dennis_Ritchie' %>	
</div>	