<div>
	<%= link_to image_tag("sisters.jpg", alt: "soccer"), 'http://www.youtube.com/watch?v=JCOURZ-yx4E' %>
	<%= link_to image_tag("family.jpg", alt: "soccer"), 'http://www.youtube.com/watch?v=bmXumtgwtak' %>
</div>	