<div class="wrapper">
	<%= link_to image_tag("mandela.jpg", alt: "mandela"), 'http://en.wikipedia.org/wiki/Nelson_Mandela' %>
	<%= link_to image_tag("newday.jpg", alt: "marley"), 'http://en.wikipedia.org/wiki/Bob_Marley' %>
</div>