<div class="wrapper">
	<%= link_to image_tag("rukia.jpg", alt: "Rukia"), 'http://rainymood.com/', id: 'rukia' %>
	<%= link_to image_tag("peponi.jpg", alt: "Paradise"), 'https://github.com/chikeabuah/', id: 'paradise' %>
</div>	