@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
  }
}


/* logo */

#logo {
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 1.5em;
  color: rgb(0,0,0);
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  font-family: Arial, sans-serif;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  clear: both;
  }

//Overwrite original bootstrap to change navbar color.
.navbar-inner {
  background-color: #00B2EE; 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  }